* {
  margin: 0;
  padding: 0;
}

h1 {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  color: white;
}

h2 {
  margin: 20px;
}

body {
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/background.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.lista {
  float: right;
  list-style: none;
  margin-top: 30px;
  margin-left: 30px;
}

.lista li {
    display: inline-block;
}

.lista li a {
  font-size: 36px;
  padding: 5px 20px;
  color: white;
  font-family: roboto;
  text-decoration: none;
}

.lista li.active a {
  border: 1px solid white;
}

.lista li.nonactive a:hover {
  border: 1px solid white;
}

footer {
  position: fixed;
  background-color: rgb(103, 142, 228);
  display: block;
  bottom: 0;
  width: 100%;
}

footer hr {
  width: 100%;
}

footer img {
  display: inline-block;
  width: 50px;
}

.discord {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

hr {
  background-color: white;
}

.contact-message {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: auto;
  margin-right: auto;
  font-size: 26;
}

.contact-message input {
  display: block;
  width: 400px;
  margin: 10px;
  font-size: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: white;
}

.contact-message label {
  margin: 10px;
  display: block;
}

.contact-message legend {
  margin-left: 10px;
}

.contact-message textarea {
  color: white;
  margin: 20px;
  height: 300px;
  width: 400px;
  display: block;
  font-size: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.contact-message fieldset {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.contact-message button {
  width: 100px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: 330px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tartalom {
  text-align: center;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.discord-widget {
  width: 400px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.tartalom ul {
  display: inline-block;
}

.title {
  text-align: center;
}

.csapattagok {
  margin-left: 20px;
  text-align: left;
}

.viewer-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 700px;
}
.viewer {
  box-shadow: 1px 1px 10px black;
  display: flex;
  width: 700px;
  align-items: center;
  position: relative;
}
.viewer button {
  background: #f0f0f0;
  border: none;
  height: 400px;
  width: 50px;
}
.viewer button:hover {
  cursor: pointer;
}
.viewer img {
  width: 600px;
  height: 400px;
}
.previews img {
  border: 4px solid #f0f0f0;
  box-shadow: 0 0 10px black;
  margin: 10px;
  width: 40px;
  height: 40px;
}
.previews img:hover {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.previews h3 {
  position: absolute;
  background: grey;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  top: -50px;
  left: 18px;
  display: none;
  margin: none;
}
.previews {
  position: relative;
}
.previews:hover h3 {
  display: block;
}
.index {
  display: flex;
  justify-content: center;
}
.gray-container {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50px;
  width: 600px;
  height: 100px;
  background: rgb(155, 155, 155, 0.5);
}
.gray-container h1 {
  margin: 0;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gray-container p {
  margin: 0;
  margin-left: 10px;
}
